/* Geral */
body {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  background-color: #262F3C;
}

.header{
    text-align: center;
    font-family: 'Baloo Tamma 2';
    color: #4FB3A2;
}
/* Separador Horizontal */
.hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #4FB3A2, transparent);
  margin: 5vw;
}

/* Menubar */
 .menubar{
  font-family: 'Baloo Tamma 2';
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-size: cover;
  overflow: hidden;
  background-color: #224540;
  /*background-color: #333; #30544E */
  position: sticky;
  top: 0;
  border-radius: 10px;
}

/* H1 Cabecalho Neriflix */
.header h1{
  margin: 0em;
}


  ul {
    font-family: 'Baloo Tamma 2';
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
    background-color: #224540;
    /*background-color: #333; #30544E */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #4FB3A2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 li a:hover {
    background-color:  #0E473F;
  }
  
h2, h3, h4{
    font-family: 'Baloo Tamma 2', cursive;
    color: #4FB3A2;
    text-align: center;
    margin: 1%;
    font-weight: 500;
}
p{
  font-family: 'Baloo Tamma 2', cursive;
  color: #4FB3A2;
}


  /* Cores

  #0E473F
  #30615A
  #1E9484
  
  */

/* Cards */
.column{
  float: left;
  width: 33.3%;
  padding: 0 20px;
}

.row {
  margin: 0 -5px;
  margin-left: 10%;
  margin-right: 10%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}

.card img{
  width: 100%;
  height: 35vw;
}

.row .card-video{
  padding: 5ch;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 35vw;
    display: block;
    margin-bottom: 20px;
  }
}
/* Cards */


/* Formulario */
*{
  box-sizing: border-box;
}

.form-contact{
  
  font-family: 'Baloo Tamma 2', Roboto;
  background-color: #ccc;
  border-radius: 10px;
  width: 50%;
  padding: 25px;
  margin: 20px auto;
}

.form-contact h1{
  font-size: 34px;
  color: #1EA789 ;
  padding-bottom: 20px;
  text-align: center;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea{
  font-size: 16px;
  width: 100%;
  margin: 0 0 15px;
  height: 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #32373E;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.form-contact textarea{
  height: 150px;
  resize: none;
}

.form-contact .submit input,
.form-contact .voltar a{
  color: #141011;
  margin: 10px 0 auto;
  cursor: pointer;
  width: 100px;
  background-color: #1EA789;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}
.form-contact .submit input:hover,
.form-contact .voltar a:hover{
  background-color: #28D8B2;
}
.form-contact .voltar{
  margin-top: 10px;
}
/* Fim Formulario */

/* Color Theme Swatches in Hex
.green-pallet-1-hex { color: #232323; }
.green-pallet-2-hex { color: #141011; }
.green-pallet-3-hex { color: #03A65A; }
.green-pallet-4-hex { color: #168C55; }
.green-pallet-5-hex { color: #074129; } */

/* Color Theme Swatches in Hex */
.dark-n-green-1-hex { color: #6585FF; }
.dark-n-green-2-hex { color: #32373E; }
.dark-n-green-3-hex { color: #262F3C; }
.dark-n-green-4-hex { color: #1EA789; }
.dark-n-green-5-hex { color: #28D8B2; }
